<div class="container py-3">
  <div class="row">
    <div class="col-10  mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">你想對誰說幹話? <i class="fa fa-trash" aria-hidden="true"></i></h5>
          <hr>
          <form method="POST" action="/">

            <div class="row">
              {{#each career}}
              <div class=" col-4">
                <div class="card">
                  <label for="customRadio1" class="form-label"><img class="card-img-top" src='{{this.image}}'
                      alt='{{this.career_type}}' style='height:200px'></label>
                  <div class="card-body custom-control custom-radio text-center p-3">
                    <input type="radio" id="{{this.id}}" name="person" class="custom-control-input"
                      value="{{this.career_type}}" {{#eq  person  ('{{ this.career_type }}') }} checked{{/eq}}>
                    <label class="custom-control-label" for="{{this.id}}">{{this.title}}</label>
                  </div>
                </div>
              </div>
              {{/each}}

            </div>

        </div>
        <div class=' row'>
          <button class="btn btn-success col-3" type="submit">產生幹話</button>
          <div class="alert alert-info col-9" role="alert">
            <code>{{trashwords}}</code>
          </div>

        </div>
        </form>
      </div>

      <small class="card-footer text-muted text-right">
        Idea is inspired by <a href="https://passwordsgenerator.net/" target="_blank">Politician,Spoiled Boss and
          Reporter </a>
      </small>
    </div>
  </div>
</div>
</div>
